/*--------------------------------------*/ 
/* Object table designs */ 
/*--------------------------------------*/ 

.events-table {
  margin: 20px auto;
  width: 95%;
  max-width: 1500px;
  border-spacing: 0;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

.table-page-title{
  text-decoration: underline;
}

.events-table th, .events-table td {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 12px;
  word-break: keep-all;
  text-align: center;
  font-size: 14px;
}

.events-table thead th {
  background: #e7e9e8;
  font-weight: 600;
  border-bottom: 2px solid #d0d0d0;
}

.events-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}



.dark .events-table,
.dark .events-table th,
.dark .events-table td,
.dark .events-table button{
  background: #2b2c2d;
  color: #c1bfbd;
  border-color: #7e776c;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.dark .events-table thead th {
  background-color: #3c2828;
}


.events-table-actions .MuiIconButton-root {
  padding: 2px;
}

.events-table-actions-buttons {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
