/*--------------------------------------*/ 
/* Home page designs */ 
/*--------------------------------------*/ 

.HomePage{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-form-page {
  display: flex;
  justify-content: center;
  padding: 35px;
}

.event-form-card {
  background-color: #f1f1f1d3;
  border-radius: 12px;
  padding: 25px 30px 20px;
  max-width: 1200px;
  width: 100%;
}

.event-form-title{
  margin: 10px 10px;
  border-bottom: 2px solid #cfcfcf;
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}

.event-form{
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 1fr));
    gap: 30px ;
    direction: rtl;
    margin: 20px 0;
}

.results-wrapper {
  display: contents;
}

.results-cell  { grid-column: 4; }
.severity-cell { grid-column: 5; }

.field{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight:bold ;
}

.field > label {
  background-color:#1976d2;
  color: black;
  padding: 2px 10px;
  border-radius: 10px;
  width: fit-content;
}

.field input,
.field select,
.field textarea {
  max-width: 120px;   
}


/*--------------------------------------*/ 
/* Civil area coord designs */ 
/*--------------------------------------*/ 


.coordField .MuiInputLabel-root {
  right: 10px;
  left: auto;
  transform-origin: right top;
  overflow: hidden;
}

.coordField .MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(-8px, -9px) scale(0.75); 
}

/*--------------------------------------*/ 
/* Description event input label designs */ 
/*--------------------------------------*/ 

.MuiInputLabel-root {
  right: 0;
  left: auto;
  direction: rtl;
  text-align: right;
  transform-origin: right top;
}

.MuiInputLabel-root.MuiInputLabel-formControl {
  transform: translate(-8px, 8px) scale(1);
}

.MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(53px, -9px) scale(0.75);
}

.MuiOutlinedInput-root fieldset legend {
  text-align: right;
}

/*--------------------------------------*/ 
/* Formatting headings in an edit form */ 
/*--------------------------------------*/ 

.edit-field .MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(120px, -6px) scale(0.75); 
}
