/*--------------------------------------*/ 
/* Home page designs */ 
/*--------------------------------------*/ 

.HomePage{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-form-title{
  margin: 10px 15px;
  border-bottom: 2px solid #cfcfcf;
  padding-bottom: 5px;
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

.event-form{
    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 1fr));
    gap: 30px ;
    direction: rtl;
    margin: 20px;
}

.results-wrapper {
  display: contents;
}

.results-cell  { grid-column: 4; }
.severity-cell { grid-column: 5; }

.field{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 3px;
  font-size: 15px;
  font-weight:bold ;
}

.field > label {
  background-color:#1976d2;
  color: black;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
}

.field input,
.field select,
.field textarea {
  max-width: 115px;   
}


/*--------------------------------------*/ 
/* Civil area coord designs */ 
/*--------------------------------------*/ 


.coordField .MuiInputLabel-root {
  right: 10px;
  left: auto;
  transform-origin: right top;
  overflow: hidden;
}

.coordField .MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(-8px, -9px) scale(0.75); 
}

/*--------------------------------------*/ 
/* Description event input label designs */ 
/*--------------------------------------*/ 

.MuiInputLabel-root {
  right: 0;
  left: auto;
  direction: rtl;
  text-align: right;
  transform-origin: right top;
}

.MuiInputLabel-root.MuiInputLabel-formControl {
  transform: translate(-8px, 8px) scale(1);
}

.MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(53px, -9px) scale(0.75);
}

.MuiOutlinedInput-root fieldset legend {
  text-align: right;
}

/*--------------------------------------*/ 
/* Object table designs */ 
/*--------------------------------------*/ 

.events-table {
  border-collapse: collapse; 
  table-layout: fixed;
  margin: 25px;
}

.table-page-title{
  text-decoration: underline;
}

.events-table th, .events-table td {
  border: 2px solid #000000;
  padding: 8px;
  word-break: keep-all;
  text-align: center;
}

.events-table thead th {
  text-align: center;
  vertical-align: middle;
  background: #f7ecec;
  font-weight: bold;
}

.dark .events-table,
.dark .events-table th,
.dark .events-table td,
.dark .events-table button{
  background: #2b2c2d;
  color: #c1bfbd;
  border-color: #7e776c;
}

.dark .events-table thead th {
  background-color: #3c2828;
}


