
.HomePage{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.event-form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px ;
    direction: rtl;
}

.field{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight:bold ;
  flex: 1 1 calc(20% - 1%);
}

.field > label {
  background-color:#1976d2;
  color: black;
  padding: 2px 8px;
  border-radius: 4px;
  width: fit-content;
  display: inline-block;
}

.field input,
.field select,
.field textarea {
  max-width: 150px;   
}
























/* ליישר תווית מימין ולטפל במיקום כשהיא "מתכווצת" לאאוטליין */
.MuiInputLabel-root {
  right: 0;
  left: auto;
  direction: rtl;
  text-align: right;
  transform-origin: right top;
}

/* מצב רגיל (לפני הקטנה) */
.MuiInputLabel-root.MuiInputLabel-formControl {
  transform: translate(-8px, 8px) scale(1);
}

/* מצב "מכווץ" בתוך המסגרת */
.MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(60px, -9px) scale(0.75);
}

/* לוודא שהנוץ' (החריץ) מתחיל מימין */
.MuiOutlinedInput-root {
  direction: rtl;
}
.MuiOutlinedInput-root fieldset legend {
  text-align: right;
}

.form-error {
  color: #d32f2f; 
  margin: 8px 0; 
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.events-table {
  width: 99%;
  border-collapse: collapse; 
  table-layout: fixed;
}

.events-table th, .events-table td {
  border: 2px solid #000000;
  padding: 8px;
  vertical-align: top;
  word-break: break-word;
}

.events-table thead th {
  text-align: right;
  vertical-align: middle;
  background: #f7ecec;
  font-weight: bold;
}
