
.from-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.event-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
}
label {
  display: flex;
  flex-direction: column;
}

form button {
  display: block;
  margin-top: 20px;
}
