
.from-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.event-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px ;
    align-items: flex-start;
}

/* ליישר תווית מימין ולטפל במיקום כשהיא "מתכווצת" לאאוטליין */
.MuiInputLabel-root {
  right: 0;
  left: auto;
  direction: rtl;
  text-align: right;
  transform-origin: right top;
}

/* מצב רגיל (לפני הקטנה) */
.MuiInputLabel-root.MuiInputLabel-formControl {
  transform: translate(-8px, 8px) scale(1);
}

/* מצב "מכווץ" בתוך המסגרת */
.MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(60px, -9px) scale(0.75);
}

/* לוודא שהנוץ' (החריץ) מתחיל מימין */
.MuiOutlinedInput-root {
  direction: rtl;
}
.MuiOutlinedInput-root fieldset legend {
  text-align: right;
}

.form-error {
  color: #d32f2f; 
  margin: 8px 0; 
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.events-table {
  width: 100%;
  border-collapse: collapse; 
}


.events-table th, .events-table td {
  border: 2px solid #000000;
  padding: 8px;
  vertical-align: top;
  word-break: break-word;
}
.events-table thead th {
  background: #f7ecec;
  font-weight: bold;
}
